<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Quick Test 教师</title>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/vue.min.js}"></script>
    <link th:href="@{/css/admin.css}" rel="stylesheet">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://v3.bootcss.com/examples/dashboard/#">Quick Test</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"  th:text="${session.user.getTeaName()}"></a></li>
                <li><a th:href="@{/userLogout}">注销</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <!--侧边栏 start-->
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li  class="active"><a th:href="@{/teacher}">HOME<span class="sr-only">(current)</span></a></li>
                <li><a th:href="@{/teacher/studentInfo}">我的学生 <span class="sr-only">(current)</span></a></li>
                <li><a th:href="@{/teacher/myPaperManage}">我的专业试题管理</a></li>
            </ul>

        </div>
        <!--侧边栏 start-->

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header">Quick Test 在线考试系统-教师主页</h2>
            <h3><span th:if="${session.user != null}" th:text="${session.user.getTeaName()}"></span>老师，您好！，在这您可以看看您学生们的成绩，以及添加试卷和试题</h3>
        </div>
    </div>
</div>


</body>
</html>